@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background: #f8f8f9;
    color: #37373c;
  }
  input, select, textarea, button {
    font-family: inherit;
  }
}
